<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @keep.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @keep.note %>
</p>

<%= link_to 'Edit', edit_keep_path(@keep) %> |
<%= link_to 'Back', keeps_path %>
